<footer>
    <div class="container-footer">
        <div class="item marca">
            <div class="logo">
                <span>Libelula</span>
                <p>HOTELS</p>
            </div>
            <div class="direccion">
                <span>Jr. Puno 429. Puerto Maldonado. Madre de Dios, Perú</span>
                <span>+51 971 134 446</span>
                <span>libelulahotelgmail.com </span>
            </div>
        </div>
        <div class="item menu">
            <ul>
                <li>Nosotros</li>
                <li>Contacto</li>
                <li>Termino y condiciones</li>
            </ul>
        </div>
        <div class="item redes">
            <ul>
                <li><i class="fa-brands fa-facebook"></i>Facebook</li>
                <li><i class="fa-brands fa-twitter"></i>Twitter</li>
                <li><i class="fa-brands fa-instagram"></i>Instagram</li>
            </ul>
        </div>
        <div class="item boletin">
            <div class="slogan">
                <span>Suscríbete a nuestro boletín</span>
            </div>
            <div class="formulario">
                <form action="">
                    <input type="text" placeholder="Dirección de correo electrónico">
                    <button>Ok</button>
                </form>
            </div>
        </div>
    </div>
</footer>
