<footer>
    <div class="container-footer">
        <div class="item marca">
            <div class="logo">
                <span>Libelula</span>
                <p>HOTEL</p>
            </div>
            <div class="direccion">
                <p>Jr. Puno 429. Puerto Maldonado.<br>Madre de Dios, Perú</p>
                <p>
                    <a href="tel:+51971134446">
                        <i class="fa-solid fa-phone"></i> 971 134 446
                    </a>
                </p>
                <p>
                    <a href="mailto:libelulahotel@gmail.com">
                        <i class="fa-solid fa-envelope"></i> libelulahotel&#64;gmail.com
                    </a>
                </p>
            </div>
        </div>
        <div class="item menu">
            <ul>
                <li><a routerLink="nosotros">Nosotros</a></li>
                <li><a routerLink="Contactanos">Contacto</a></li>
                <li><a routerLink="terminos">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="item redes">
            <ul>
                <li *ngFor="let red of redsocial">
                    <a href="{{red.link}}" target="_blank">
                        <i class="fa-brands {{red.icon}}"></i>
                        {{red.red_social}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="item boletin">
            <div class="slogan">
                <span>Suscríbete a nuestro boletín</span>
            </div>
            <div class="formulario">
                <form>
                    <input type="email" placeholder="Correo electrónico" required>
                    <button type="submit">Suscribirse</button>
                </form>
            </div>
        </div>
    </div>
</footer>
