<app-hero [mensaje]="hero.mensaje" [titulo]="hero.titulo"></app-hero>
<div class="container">
  <div class="nosotros">
    <h3>Nosotros</h3>
    <span>
      Desde su fundación en 2020, <strong>Libélula Hotel</strong> ha buscado ofrecer una experiencia de hospedaje moderna y acogedora, combinando comodidad, innovación y un impacto positivo en la comunidad.
    </span>
      <span>
        Nuestra historia comenzó hace casi 15 años con Hospedaje Rossy, un pequeño negocio familiar con habitaciones simples. Con esfuerzo y dedicación, evolucionamos hasta convertirnos en un hotel moderno.
      </span>
      <span>
        En 2020, la pandemia marcó un punto de inflexión, llevándonos a replantear nuestra estrategia: transformar nuestro éxito económico en un modelo sostenible que beneficie a la comunidad, a nuestros huéspedes y a nuestro equipo.
      </span>
  </div>
  <div class="pilares">
    <div class="mision">
      <h3>Misión</h3>
      <span>Brindar una experiencia de hospedaje cómoda y armoniosa, garantizando el descanso de nuestros huéspedes mientras promovemos la educación, el arte y la cultura en nuestra comunidad.</span>
    </div>
    <div class="vision">
      <h3>Visión</h3>
      <span>Ser un referente en hospitalidad sostenible, combinando modernidad y compromiso social para impactar positivamente en nuestros visitantes y en la sociedad.</span>
    </div>
  </div>
  <div class="valores">
    <ul>
      <li><span>Hospitalidad con propósito</span> – Más que alojamiento, buscamos generar impacto.</li>
      <li><span>Compromiso con la comunidad</span> – Fomentamos el arte, la educación y la cultura.</li>
      <li><span>Sostenibilidad</span> – Aplicamos prácticas responsables con el medio ambiente.</li>
      <li><span>Calidad y modernidad</span> – Ofrecemos comodidad con tecnología de última generación.</li>
    </ul>
  </div>
  <div class="compromiso">
    <h3>Nuestro Compromiso</h3>
    <h4>Sostenibilidad ambiental</h4>
    <ul>
      <li>Promovemos el reciclaje y el cuidado de la flora y fauna local.</li>
      <li>Implementamos prácticas eco-amigables en la operación del hotel.</li>
    </ul>
    <h4>Fomento del arte local</h4>
    <ul>
      <li>Exhibimos murales y obras de artistas regionales en nuestras instalaciones.</li>
    </ul>
    <h4>Espacios educativos</h4>
    <ul>
      <li>Ofrecemos talleres gratuitos, como clases de inglés y, próximamente, cursos de arte y otros idiomas.</li>
    </ul>
  </div>
  <div class="mensaje">
    <h2>En <strong>Libélula Hotel</strong>, cada estadía es más que una experiencia: es una contribución a un mundo mejor.</h2>
  </div>
</div>
