<div class="hero-detalle">
  <span>{{habitacion.tipo}}</span>
</div>

<div class="container">
  <div class="detalle-contenido">
    <div class="carousel" *ngIf="imagenes.length > 0">
      <button class="nav prev" (click)="prevImage()">&#10094;</button>
      <div class="carousel-images">
        <img [src]="imagenes[currentIndex]" [alt]="habitacion.tipo">
      </div>
      <button class="nav next" (click)="nextImage()">&#10095;</button>
    </div>
    <div class="descripcion">
        <h3>{{habitacion.tipo}}</h3>
        <ul>
          <li *ngFor="let item of descripcionItems">{{ item }}</li>
        </ul>
    </div>
  </div>
</div>
<div class="container-reglas">
  <div class="reglas-div">
    <div class="reglas">
      <span><b>IDEAL PARA: </b>Amigos o familia con 1 o 2 niños (ocupación máxima de 2 adultos y 2 niños)</span>
      <span><b>CHECK IN:</b> 12:00m (Medio día). Si la habitación se encuentra lista antes de esa hora el huésped podrá acceder a ella, en caso contrario, puede dejar su equipaje en nuestro almacén y esperar en nuestras salitas de descanso</span>
      <span><b>CHECK OUT:</b> 11am, existe la posibilidad de solicitar late check out hasta las 2pm por un pago adicional sujeto a disponibilidad</span>
      <span><b>RECEPCIÓN:</b> Al ingresar cada huésped debe presentar su documento de identidad para su registro. La recepción atiende las 24h. En caso se desee contactar a recepción desde la habitación, puede usar el intercomunicador</span>
    </div>
    <div class="politicas">
      <b>POLITICAS:</b>
      <ul>
        <li class="politica">No realizamos servicio a la habitación</li>
        <li class="politica">No se permite fumar dentro del hotel</li>
        <li class="politica">No se admiten mascotas</li>
        <li class="politica">Solicitamos a los huéspedes mantener sus conversaciones en un tono moderado</li>
      </ul>
    </div>
    <div class="clausulas">
      <span><b>RESERVAS: </b> Al reservar directamente con nosotros usted obtiene la <b>tarifa más baja</b>. Para reservar se solicita el 50% por adelantado y el restante debe ser abonado al arribo. </span>
      <span><b>Cambios y anulaciones de reservas.</b> Los cambios están sujetos a disponibilidad. Al anular su reserva 5 días previos a la fecha de su llegada se reembolsa el 70% de su pago, si la reserva se anula con 2 días de anticipación se devuelve el 50%. Con menos tiempo de anticipación no aplica ningún reembolso</span>
    </div>
  </div>
</div>
