<app-hero [mensaje]="hero.mensaje" [titulo]="hero.titulo"></app-hero>
<div class="home">
  <div class="container">

    <div class="tab-container">
      <div class="message">
        <span class="mensajeInicio">Razones para elegir a Libelula Hotel cuando viajes por Puerto Maldonado</span>
      </div>
      <div class="razones">
        <div class="menu-razones">
          <ul>
            <li class="item-menu"><a routerLink="tarifa" routerLinkActive="active">Tarifa</a></li>
            <li class="item-menu"><a routerLink="Ubicacion" routerLinkActive="active">Ubicación</a></li>
            <li class="item-menu"><a routerLink="instalaciones" routerLinkActive="active">Instalaciones</a></li>
          </ul>
        </div>
        <div data-aos="zoom-in-up" class="contenido-razones">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <div class="comentarios">
      <div class="titulo">
        <h2>Comentarios de nuestros clientes</h2>
      </div>
      <div class="carousel-container">
        <button class="nav-btn prev" (click)="prevComment()">❮</button>
        
        <div class="carousel" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
          <div class="comment-card" *ngFor="let comentario of comentarios">
            <h3>{{ comentario.autor }}</h3>
            <p>{{ comentario.comentario }}</p>
            <small>{{ comentario.fecha | date: 'yyyy-MM-dd' }}</small>
            <ul>
              <li *ngFor="let star of [].constructor(comentario.estrellas)">
                ⭐
              </li>
            </ul>
          </div>
        </div>
    
        <button class="nav-btn next" (click)="nextComment()">❯</button>
      </div>
    </div>    
    
  </div>
</div>
