.home{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container{
    width: 90%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
}

.message {
    margin-bottom: 3rem;
}

.message .mensajeInicio {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--blue-zodiac-950);
}

.razones{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-razones {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-razones ul{
  display: flex;
  width: 100rem;
  justify-content: center;
  gap: 3rem;
}

.menu-razones ul .item-menu{
  list-style: none;
  border: none;
}

.menu-razones ul .item-menu a{
  text-decoration: none;
  color: var(--blue-zodiac-950);
  font-size: 1.3rem;
}

.active{
  border:solid 0.15rem var(--harvest-gold-600);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}

.contenido-razones{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

@media (max-width: 768px) {

  .menu-razones ul{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
  }

  .menu-razones ul .item-menu a{
    text-decoration: none;
    color: var(--blue-zodiac-950);
    font-size: 1rem;
  }

    .container{
        margin-top: 3rem;
    }

    .message {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .message .mensajeInicio {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0 1rem;
    }

    .container {
        width: 100%;
    }

    .container h3{
        font-size: 0.5em;
    }
}
