<app-hero [mensaje]="hero.mensaje" [titulo]="hero.titulo"></app-hero>
<div class="home">
  <div class="container">

    <div class="tab-container">
      <div class="message">
        <span class="mensajeInicio">Razones para elegir a Libelula Hotel cuando viajes por Puerto Maldonado</span>
      </div>
      <div class="razones">
        <div class="menu-razones">
          <ul>
            <li class="item-menu"><a routerLink="tarifa" routerLinkActive="active">Tarifa</a></li>
            <li class="item-menu"><a routerLink="Ubicacion" routerLinkActive="active">Ubicación</a></li>
            <li class="item-menu"><a routerLink="instalaciones" routerLinkActive="active">Instalaciones</a></li>
          </ul>
        </div>
        <div class="contenido-razones">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
