<app-hero [mensaje]="hero.mensaje" [titulo]="hero.titulo"></app-hero>
<div class="home">
  <div class="container">
    <h3>Razones para elegir a Libelula Hotel cuando viajes por Puerto Maldonado</h3>
    <div class="tab-container">
      <mat-tab-group>
        <mat-tab label="Mejor tarifa garantizada">
          <div class="container-tab">
            <div class="text">
              <h2>Mejor tarifa garantizada</h2>
              <p>¿Buscas las mejores ofertas para tu próximo viaje a Puerto Maldonado?
                En nuestro hotel, te ofrecemos tarifas increíbles para una estancia única y sin preocupaciones. Ya sea por negocios o vacaciones en familia, garantizamos los mejores precios. Reserva con nosotros y aprovecha nuestras ofertas exclusivas para un viaje perfecto.</p>
            </div>
            <div class="img">
              <img src="assets/img/Portada.jpg" alt="">
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Hospitalidad peruana">
          <div class="container-tab">
            <div class="text">
              <h2>Mejor tarifa garantizada</h2>
              <p>¿Buscas las mejores ofertas para tu próximo viaje a Puerto Maldonado?
                En nuestro hotel, te ofrecemos tarifas increíbles para una estancia única y sin preocupaciones. Ya sea por negocios o vacaciones en familia, garantizamos los mejores precios. Reserva con nosotros y aprovecha nuestras ofertas exclusivas para un viaje perfecto.</p>
            </div>
            <div class="img">
              <img src="assets/img/Portada.jpg" alt="">
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Instalaciones espaciosas y acogedoras"> 
          <div class="container-tab">
            <div class="text">
              <h2>Mejor tarifa garantizada</h2>
              <p>¿Buscas las mejores ofertas para tu próximo viaje a Puerto Maldonado?
                En nuestro hotel, te ofrecemos tarifas increíbles para una estancia única y sin preocupaciones. Ya sea por negocios o vacaciones en familia, garantizamos los mejores precios. Reserva con nosotros y aprovecha nuestras ofertas exclusivas para un viaje perfecto.</p>
            </div>
            <div class="img">
              <img src="assets/img/Portada.jpg" alt="">
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
