<div class="container">
  <div class="contenido">
    <div class="texto">
      <h3>Ubicación estratégica</h3>
      <span>Libélula Hotel se encuentra a solo dos cuadras de la Plaza de Armas de Puerto Maldonado, el centro de la ciudad, rodeado de bancos, instituciones públicas, restaurantes y bares. Se puede llegar a Puerto Maldonado en vuelos domésticos o por tierra desde Cusco, Puno, Brasil y Bolivia. <br>

        El hotel está ubicado a 6 km del Aeropuerto Internacional Padre Aldamiz, donde encontrará taxis, minivans y tuk-tuks para trasladarse, o puede coordinar un servicio de traslado con nosotros. <br>

        Para quienes llegan por vía terrestre, la ciudad cuenta con un terminal de buses desde Cusco y Puno, así como terminales para vehículos provenientes de la frontera, con transporte disponible para llegar al hotel o la opción de agendar un recojo con nosotros.</span>
    </div>
    <div class="imagen"
    [style.background-image]="'url(../../../../assets/img/Portada.jpg)'"
    >
    </div>
  </div>
</div>
