<div class="container" >
  <div class="contenido">
    <div class="texto">
      <h3>{{ razones?.titulo }}</h3>
      <span>{{ razones?.contenido }}</span>
    </div>
    <!-- <div class="imagen"
    [style.background-image]="'url(https://admin.libelulahotel.com.pe/api/files/'+ razones?.collectionId + '/' + razones?.id + '/' + razones?.imagen + ')'"
    >
    </div> -->
    <div class="imagen">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1946.9060445387481!2d-69.18024414835062!3d-12.594632815623706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x917b4fbe844d86d5%3A0x227133d0a3782718!2sLibelula%20Hotel!5e0!3m2!1ses-419!2spe!4v1741538418082!5m2!1ses-419!2spe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%" height="100%" ></iframe>
    </div>
  </div>
</div>
