.container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.15rem var(--blue-zodiac-950);
  border-radius: 0.5rem;
  padding: 2rem;
}

.texto{
  padding: 1rem;
  width: 60%;
}

.texto h3{
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--blue-zodiac-950);
}

.texto span{
  color: var(--blue-zodiac-950);
}

.imagen{
  width: 40%;
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

@media (max-width: 768px){
  .contenido{
    width: 75%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .imagen{
    width: 100%;
  }

  .texto{
    padding: 0.5rem;
    width: 100%;
  }

}
