<div class="hero">
    <div class="texto">
        <span class="item-hero-1" [ngClass]="titulo === 'Bienvenidos' ? '' : 'clase-activa'">{{ titulo }}</span>
        @if (titulo === 'Bienvenidos') {
          <span class="item-hero-2">Libelula</span>
          <span class="item-hero-3">Hotel</span>
        }
        <span class="item-hero-4">{{ mensaje }}</span>
    </div>
    <div class="boton">
        <a href=""><i class="fa-solid fa-calendar-day"></i>RESERVA AHORA</a>
    </div>
    <div class="indicador">
        <span>Scroll</span>
        <i class="fa-solid fa-arrow-down"></i>
    </div>
</div>
