<style>
  .hero{
    width: 100%;
    padding: 15rem 0 5rem 0;
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    color: var(--color-white);
  }
</style>
<div class="hero"
[style.background-image]="backgroundImage"
>
    <div class="texto" *ngIf="titulo !== 'BLog'">
        <span class="item-hero-1" [ngClass]="titulo === 'Bienvenidos' ? '' : 'clase-activa'">{{ heroItem?.name_pagina }}</span>
        @if (titulo === 'Bienvenidos') {
          <span class="item-hero-2">Libélula</span>
          <span class="item-hero-3">Hotel</span>
        }
        <span class="item-hero-4">{{ heroItem?.mensaje_bienvenida }}</span>
    </div>
    <div class="boton" *ngIf="titulo !== 'BLog' && titulo !== 'Habitaciones'">
      <a routerLink="/Habitaciones">
        <i class="fa-solid fa-calendar-day"></i> RESERVA AHORA
      </a>
    </div>
    <div class="indicador">
        <span>Scroll</span>
        <i class="fa-solid fa-arrow-down"></i>
    </div>
</div>
