<nav>
    <div class="container">
        <div class="logo">
            <a routerLink="/home">
                <img class="img-logo" src="assets/img/libelula.png" alt="">
            </a>
        </div>
        <!-- Botón de menú (hamburger) -->
        <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
        <!-- Menú desplegable -->
        <div class="menu" [class.show]="menuVisible" [@menuAnimation]="menuState">
            <button class="close-button" (click)="closeMenu()">&#10005;</button>
            <ul>
                <li><a routerLink="/home" (click)="closeMenu()"> <span>Inicio</span> <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a routerLink="/Instalaciones" (click)="closeMenu()"> <span>Instalaciones</span> <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a routerLink="/Habitaciones" (click)="closeMenu()"> <span>Habitaciones</span> <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a routerLink="Contactanos" (click)="closeMenu()"> <span>Contáctanos</span> <i class="fa-solid fa-arrow-right"></i></a></li>
            </ul>
            <!-- <div class="accion">
                <a routerLink="Contactanos">Contáctanos</a>
            </div> -->
        </div>
        <div class="menu-2">
            <ul>
                <li><a routerLink="/home">Inicio</a></li>
                <li><a routerLink="/Instalaciones" >Instalaciones</a></li>
                <li><a routerLink="/Habitaciones" >Habitaciones</a></li>
                <li><a routerLink="Contactanos" >Contáctanos</a></li>
            </ul>
        </div>
        <!-- Overlay que cubre toda la pantalla -->
        <div class="overlay" *ngIf="menuVisible" (click)="closeMenu()"></div>
    </div>
</nav>
