<nav>
    <div class="container-menu">
        <div class="logo">
            <div class="img">
                <img src="assets/img/libelula.png" alt="">
            </div>
            <div class="texto">
                <span class="logo-l">L</span><span class="logo-cuerpo">ibelula</span>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li class="item-menu"><a href="">Inicio</a></li>
                <li class="item-menu"><a href="">Instalaciones</a></li>
                <li class="item-menu"><a href="">Habitaciones</a></li>
                <li class="item-menu"><a href="">Contactanos</a></li>
                <li class="item-menu"><a href="">Nosotros</a></li>
            </ul>
        </div>
    </div>
</nav>