<div class="hero-contac">
  <span>Contáctanos</span>
</div>
<div class="container">
  <form (ngSubmit)="enviarFormulario()">
    <div class="form-group">
      <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre y apellidos" required>
      <input type="text" name="motivo" [(ngModel)]="motivo" placeholder="Motivo" required>
      <input type="email" name="correo" [(ngModel)]="correo" placeholder="Correo" required>
      <input type="tel" name="telefono" [(ngModel)]="telefono" placeholder="Teléfono" required>
      <input type="text" name="direccion" [(ngModel)]="direccion" placeholder="Dirección" required>
      <select name="pais" [(ngModel)]="pais" required>
        <option value="">Seleccione un país</option>
        <option *ngFor="let pais of paises" [value]="pais.name">{{ pais.name }}</option>
      </select>
    </div>
    <textarea name="mensaje" [(ngModel)]="mensaje" placeholder="Mensaje" required></textarea>
    <div class="terminos">
      <input type="checkbox" name="terminos" [(ngModel)]="terminos" required>
      <label for="terminos">Acepto los términos y condiciones</label>
    </div>
    <div class="terminos">
      <input type="checkbox" name="politicas" [(ngModel)]="politicas" required>
      <label for="politicas">He leído y acepto las Políticas de Protección de Datos Personales.*</label>
    </div>
    <div class="terminos">
      <input type="checkbox" name="publicidad" [(ngModel)]="publicidad">
      <label for="publicidad">Acepto el envío de publicidad y promociones de Libélula Hotel.</label>
    </div>
    <div *ngIf="mensajeExito" class="mensaje-exito">{{ mensajeExito }}</div>
    <div *ngIf="mensajeError" class="mensaje-error">{{ mensajeError }}</div>
    <button type="submit">Enviar</button>
  </form>

</div>

