.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .contenido {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
  color: var(--blue-zodiac-950);
  margin-bottom: 2rem;
}

.container .contenido .titulo h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container .contenido .descripcion p {
  font-size: 1.15em;
  text-align: left;
}

.container .habitaciones {
  width: 65%;
}

.container .habitaciones .habitacion {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  border: 0.2rem solid var(--blue-zodiac-950);
}

.container .habitaciones .habitacion img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  display: block;
}

.container .habitaciones .habitacion .tipo {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-zodiac-950);
  color: var(--color-white);
  font-size: 1.5em;
  padding: 0.5rem 0;
  font-weight: 600;
}

.container .habitaciones .habitacion .acciones {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  background: var(--color-white);
}

.container .habitaciones .habitacion .acciones a{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
}

.container .habitaciones .habitacion .acciones .detalle {
  color: var(--blue-zodiac-950);
}

.container .habitaciones .habitacion .acciones .detalle i {
  color: var(--harvest-gold-600);
}

.container .habitaciones .habitacion .acciones .reserva {
  background: var(--harvest-gold-600);
  color: var(--color-white);
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
}

/*seccion de mobil*/
@media (max-width: 768px) {
  .container .contenido {
    width: 90%;
  }

    .container .contenido .titulo h2 {
        font-size: 2em;
    }

    .container .contenido .descripcion p {
        font-size: 1em;
    }

    .container .habitaciones {
     width: 90%;
  }

  .container .habitaciones .habitacion .acciones {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
  }

  .container .habitaciones .habitacion .tipo {
    height: 2rem;
    font-size: 1.1em;
  }

  .container .habitaciones .habitacion .acciones .detalle {
    font-size: 0.8rem;
  }
}
