<app-hero [mensaje]="hero.mensaje" [titulo]="hero.titulo"></app-hero>
<div class="container">
  <div class="contenido">
    <div class="titulo">
      <h2>HABITACIONES</h2>
    </div>
    <div class="descripcion">
      <p>{{ paginaData?.resumen }}</p>
    </div>
  </div>
  <div class="habitaciones">
    <div data-aos="zoom-in-up" class="habitacion" *ngFor="let Habitacion of habitaciones">
      <div class="imagen">
        <img [src]="Habitacion.imagenUrl" [alt]="'Habitación tipo ' + Habitacion.tipo" />
      </div>
      <div class="tipo">
        <span>{{Habitacion.tipo}}</span>
      </div>
      <div class="acciones">
        <a class="detalle" [routerLink]="['detalle', Habitacion.id]"><i class="fa-solid fa-circle-plus"></i>VER DETALLES DE LA HABITACIÓN</a>
        <a class="reserva" 
           [href]="'https://wa.me/' + Habitacion.numero_celular + '?text=Hola, estoy interesado en la habitación ' + Habitacion.tipo" 
           target="_blank">
          <i class="fa-brands fa-whatsapp"></i>Reservar
        </a>
      </div>
    </div>
  </div>
</div>
