<app-hero [mensaje]="hero.mensaje" [titulo]="hero.titulo"></app-hero>
<div class="container">
  <div class="contenido">
    <div class="titulo">
      <h2>HABITACIONES</h2>
    </div>
    <div class="descripcion">
      <p>Ubicado en el corazón de la selva amazónica, Libelula hotel en Puerto Maldonado ofrece habitaciones diseñadas para brindar comodidad y una conexión única con la naturaleza. Cada habitación suele contar con ventilación natural, mosquiteros y detalles que reflejan la riqueza cultural de la región. Perfecto para aventureros y amantes de la naturaleza, el alojamiento combina comodidad y sostenibilidad para ofrecer una experiencia inolvidable.</p>
    </div>
  </div>
  <div class="habitaciones">
    <div class="habitacion" *ngFor="let Habitacion of habitaciones">
      <div class="imagen">
        <img src="https://admin.libelulahotel.com.pe/api/files/{{Habitacion.collectionId}}/{{Habitacion.id}}/{{Habitacion.imagenes[0]}}" alt="{{Habitacion.tipo}}">
      </div>
      <div class="tipo">
        <span>{{Habitacion.tipo}}</span>
      </div>
      <div class="acciones">
        <a class="detalle" href="#"><i class="fa-solid fa-circle-plus"></i>VER DETALLES DE LA HABITACIÓN</a>
        <a class="reserva" href=""><i class="fa-brands fa-whatsapp"></i>Reservar</a>
      </div>
    </div>
  </div>
</div>
