<div class="container">
  <div class="contenido">
    <div class="texto">
      <h3>Mejor tarifa garantizada</h3>
      <span>¿Buscas las mejores ofertas para tu próximo viaje a Puerto Maldonado? En nuestro hotel, te ofrecemos tarifas increíbles para una estancia única y sin preocupaciones. Ya sea por negocios o vacaciones en familia, garantizamos los mejores precios. Reserva con nosotros y aprovecha nuestras ofertas exclusivas para un viaje perfecto.</span>
    </div>
    <div class="imagen"
    [style.background-image]="'url(../../../../assets/img/Portada.jpg)'"
    >
    </div>
  </div>
</div>
