<div class="container">
  <div class="contenido">
    <div class="texto">
      <h3>Instalaciones modernas y acogedoras</h3>
      <span>Nuestras habitaciones están equipadas con televisores pantalla plana de 45 a 55 pulgadas, con acceso a internet, y aire acondicionado para garantizar su comodidad en el clima tropical de la ciudad. Hemos elegido cuidadosamente las decoraciones para crear un ambiente agradable y relajante. Además, nuestras políticas de estadía están diseñadas para brindarle un entorno seguro y tranquilo, asegurando su descanso y bienestar.</span>
    </div>
    <div class="imagen"
    [style.background-image]="'url(../../../../assets/img/Portada.jpg)'"
    >
    </div>
  </div>
</div>
